<%- include('./partials/header.ejs') %>

<link href="/cart.css" rel="stylesheet" type="text/css">
<body>

	<%- include('./partials/nav.ejs') %>

	<div class="cart-items">
		<% if (session.cart && session.cart.totalQuantity > 0) { %>

			<ul>
				<% cart.items.forEach(item => { %>
					<li class="cart-item">
						<!-- Product Image -->
						<a alt="<%= item.productName %>" href="/products/<%= item.productCategory %>/<%= item.productId %>">
							<img src="<%= item.productImage %>" class="product-image" >
						</a>
						
						<!-- Product Name and Retailer Name -->
						<div class="product-details">
							<a class="product-name" href="/products/<%= item.productCategory %>/<%= item.productId %>"><%= item.productName %></a>
							<p class="retailer-name">By: <%= item.retailerName %></p>

							<% if (item.lowerPrice) { %>
								<p class="lower-price-warning">
									<i class="fa fa-info-circle"></i>
									Better price available: <%= item.lowerPrice %>€ at <%= item.lowerPriceRetailerName %>
								</p>
							<% } %>
						</div>
			
						<!-- Quantity and Price -->
						<div class="quantity-controls">
							<button class="quantity-btn" onclick="updateQuantity('<%= item.productId %>', '<%= item.retailerId %>', -1)">
								<i class="fa fa-minus-circle"></i>
							</button>
							<span class="quantity"><%= item.quantity %></span>
							<button class="quantity-btn" onclick="updateQuantity('<%= item.productId %>', '<%= item.retailerId %>', 1)">
								<i class="fa fa-plus-circle"></i>
							</button>
						</div>
						<p class="item-price"><%= item.total.toFixed(2) %>€</p>
			
						<!-- Trash Button -->
						<button class="trash-btn" onclick="deleteItem('<%= item.productId %>', '<%= item.retailerId %>')">
							<i class="fa fa-trash"></i>
						</button>
					</li>
				<% }) %>

					<!-- Total Price Display -->
				<div class="cart-total">
					
					<p><%= cart.totalQuantity %> items in cart with cost <%= cart.totalPrice.toFixed(2) %>€</p>
					<p>Shipping: <%= shippingCost.toFixed(2) %>€</p>
					<p>Total: <%= totalWithShipping.toFixed(2) %>€</p>
				</div>
			</ul>
			
		<% } else { %>
			<h3>Your cart is empty</h3>
		<% } %>
	</div>

	<script type="text/javascript" src="/cart.js"></script>
</body>
	   
<%- include('./partials/footer.ejs') %>

