<%- include('./partials/header.ejs') %>

<link href="/categories.css" rel="stylesheet" type="text/css">
<body>

	<%- include('./partials/nav.ejs') %>

	<div class="categories-container" id="categories-container">
		<!-- Categories will be added here dynamically -->
		<section class="index-category" id="index-category">
			<% categories.forEach(category => { %>
				<a href="/products/<%= category.name %>" class="index-category-box" style="background-image: url('<%= category.imageurl %>');">
					<div class="dark-overlay"></div>
					<h3><%= category.name %></h3>
				</a>
			<% }) %>
		</section>
	</div>
</body>
	   
<%- include('./partials/footer.ejs') %>
