<link href="/home.css" rel="stylesheet" type="text/css">
<%- include('./partials/header.ejs') %>
<body>
	
	<%- include('./partials/nav.ejs') %>

	<div class="home">

		<div class="deal-container">
			<h1 class="deal-title">Deal of the Day</h1>
			<% if (product) { %>
				<div class="deal-product">
					<a href="<%= product.link %>">
						<img src="<%= product.imageurl %>" alt="<%= product.name %>" class="product-image" width="300" height="300">
					</a>
					
					
					<div id="deal-timer" class="countdown">
						Time Left: <span id="time-left">00:00:00</span>
					</div>
					
					
					<div class="product-details">
						<a href="<%= product.link %>"><h2 class="product-name"><%= product.name %></h2></a>
						<p class="product-prices">
							<span class="initial-price">€<%= product.price %></span>
							<span class="discounted-price">€<%= product.discountedPrice %></span>
						</p>
						<p class="discount-badge"><%= product.discountPercent %>% OFF</p>
					</div>
				</div>
			<% } else { %>
				<p>No deal available today. Check back later!</p>
			<% } %>
		</div>

	</div>
</body>

<script type="text/javascript" src="/deal.js"></script>

<%- include('./partials/footer.ejs') %>