<%- include('./partials/header.ejs') %>

<link href="/productdetails.css" rel="stylesheet" type="text/css">
<body>
	<%- include('./partials/nav.ejs') %>

	<br><br><br>

	<% if (message) { %>
		<div class="alert alert-success">
			<%= message %>
		</div>
	<% } %>


	<div class="prod-retail">
		<div class="show" id="show">
			<section class="index-product" id="index-product"></section>
		</div>
	
		<div class="details" id="details">
			<section class="index-retailer" id="index-retailer"></section>
		</div>
	</div>
	
</body>

<script>
	// Fetch products from the server and render them on the page
	async function fetchProductDetails() {
		try {
			const productdetails = <%- JSON.stringify(productDetail).replace(/</g, '\\u003c') %>; // Embed data without HTML entities
			// console.log(productdetails);

			const productdetailContainer = document.getElementById('index-product');

			productdetailContainer.innerHTML = `

				<img src="${productdetails[0].prdimg}">


				<!-- From Uiverse.io by mrhyddenn --> 
				<button class="icon-btn add-btn" onclick="event.stopPropagation(); event.preventDefault(); addToSearchList(${productdetails[0].productid})">
					<div class="add-icon"></div>
					<div class="btn-txt">Add for best retailer</div>
				</button>
				<h2>${productdetails[0].name}</h2>
				<dic class="descr">${productdetails[0].description}</div>
			`;

			const retailersContainer = document.getElementById('index-retailer');

			if (productdetails[0]["ProductRetailers.Price"] === null || productdetails[0]["ProductRetailers.Price"] === "undefined")
			{
				retailersContainer.innerHTML = `<h2>Retailers not found</h2>`;
			}
			else
			{
				// Render retailers dynamically
				let retailerRating;

				productdetails.forEach(retailer => {

					const retailDiv = document.createElement('div');
					retailDiv.classList.add('retailer');

					if (retailer["ProductRetailers.Retailer.avgRating"] === null) {
						retailerRating = "0.0";
					} else {
						retailerRating = retailer["ProductRetailers.Retailer.avgRating"];
					}


					retailDiv.innerHTML = `
						
						<a href="${retailer["ProductRetailers.Retailer.Website"]}"><img src="${retailer["ProductRetailers.Retailer.retailerimg"]}"></a>
						
						<div class="rate">(${retailerRating})⭐</div>
						
						<a class="prdlink" href="${retailer["ProductRetailers.PRODUCTLINK"]}" target="_blank">
							<p>${retailer["ProductRetailers.Retailer.Name"]}</p>
							<p>${retailer.name}</p>
							<div class="price">${retailer["ProductRetailers.Price"]}€</div>
						</a>
						<form action="/cart/add" method="POST">
							<input type="hidden" name="productId" value="${productdetails[0].productid}" />
							<input type="hidden" name="retailerId" value="${retailer["ProductRetailers.Retailer.RetailerId"]}" />
							<input type="hidden" name="quantity" value="1" />
							<button type="submit" class="add-to-cart-button">
								<i class="fa-solid fa-cart-plus"></i>
							</button>
						</form>
					`;

					retailersContainer.appendChild(retailDiv);
				});
			}
			
		} catch (error) {
			console.error('Error fetching product details: ', error);
		}
	}


	function addToSearchList(productId) {
		try {
			fetch('/search/add_to_search', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
				},
				body: JSON.stringify({ productId }),
			})
			.then(response => response.json())
			.then(data => {
				if (data.error) {
					alert(data.error);
				} else {
					alert('Product added to search list');
				}
			})
			.catch(err => console.error(err));
		} catch (error) {
			console.error('Error adding products to search list: ', error);
		}
	}

	// Call the function to fetch and display products when the page loads
	fetchProductDetails();
	
</script>

<%- include('./partials/footer.ejs') %>