<%- include('./partials/header.ejs') %>

<link href="/productdetails.css" rel="stylesheet" type="text/css">
<body>
	<%- include('./partials/nav.ejs') %>


	<% if (message) { %>
		<div class="alert alert-success">
			<%= message %>
		</div>
	<% } %>


	<div class="prod-retail">
		<div class="show" id="show">
			<section class="index-product" id="index-product">
				<img src="<%= product.prdimg %>">


				<!-- From Uiverse.io by mrhyddenn --> 

				<% if (retailers[0].Price !== null && retailers[0].Price !== "undefined") { %>
					<button class="icon-btn add-btn" onclick="event.stopPropagation(); event.preventDefault(); addToSearchList(<%= product.productid %>)">
						<div class="add-icon"></div>
						<div class="btn-txt">Add for best retailer choice</div>
					</button>
				<% } %>
				
				<h2><%= product.name %></h2>
				<div class="descr"><%= product.description %></div>
			</section>
		</div>
	
		<div class="details" id="details">
			<section class="index-retailer" id="index-retailer">
				
				<% if (retailers[0].Price === null || retailers[0].Price === "undefined") { %>

					<h2>Retailers not found</h2>

				<% } else { %>
					<% retailers.forEach(retailer => { %>

						<div class="retailer">
							<a href="<%= retailer.Website %>">
								<img src="<%= retailer.RetailerImg %>">
							</a>
							<div class="rate">(<%= retailer.AvgRating.toFixed(1) %>)⭐</div>

							<a class="prdlink" href="https://www.electroholic.gr/el/product/PHOAPP00532" target="_blank">
								<p><%= retailer.Name %></p>
								<p><%= product.name %></p>
								<div class="price"><%= retailer.Price %>€</div>
							</a>

							<form action="/cart/add" method="POST">
								<input type="hidden" name="productId" value="<%= product.productid %>">
								<input type="hidden" name="retailerId" value="<%= retailer.RetailerId %>">
								<input type="hidden" name="quantity" value="1">

								<button type="submit" class="add-to-cart-button">
									<i class="fa-solid fa-cart-plus"></i>
								</button>
							</form>
						</div>
					<% }) %>
				<% } %>

			</section>
		</div>
	</div>

	
	
</body>

<script type="text/javascript" src="/productdetails.js"></script>

<%- include('./partials/footer.ejs') %>