<%- include('./partials/header.ejs') %>

<link href="/search.css" rel="stylesheet" type="text/css">
<body>

	<%- include('./partials/nav.ejs') %>

	
		<div class="shared-container">
			<% if (session.compare.items && session.compare.items.length > 0) { %>

				<select id="searchOption" class="styled-select" onchange="fetchSearchData()">
					<option value="lowest-price" <%= selectedOption === 'lowest-price' ? 'selected' : '' %>>Lowest Price</option>
					<option value="best-reviews" <%= selectedOption === 'best-reviews' ? 'selected' : '' %>>Best Reviews</option>
				</select>

				<div class="retailers-section">
					<% Object.keys(groupedResults).forEach(retailer => { %>
						<div class="retailer-section">
							<!-- Retailer Name -->
							<h2 class="retailer-name"><%= retailer %></h2>
					
							<!-- List of Products for this Retailer -->
							<ul class="product-list">
								<% groupedResults[retailer].forEach(product => { %>
									<li class="product-item">
										<!-- Product Image -->
										<a href="/products/<%= product.categoryName %>/<%= product.productid %>"><img src="<%= product.productImg %>" alt="<%= product.productName %>" class="product-image"></a>
										
										<!-- Product Name -->
										<div class="product-details">
											<a class="product-name" href="/products/<%= product.categoryName %>/<%= product.productid %>"><%= product.productName %></a>
											<p class="item-price"><%= product.price.toFixed(2) %>€</p>
											<p>(<%= product.averageRating.toFixed(1) %>)⭐</p>
										</div>
					
										<!-- Trash Button -->
										<button class="trash-btn" onclick="deleteItem('<%= product.productid %>')">
											<i class="fa fa-trash"></i>
										</button>
									</li>
								<% }) %>
							</ul>
						</div>
					<% }) %>
		
					<!-- Total Price Display -->
					<div class="search-total">
						<div class="items-price">
							<p>Products: <%= totalPrice.toFixed(2) %>€</p>
							<p>Shipping: <%= shippingCost.toFixed(2) %>€</p>
						</div>
						
						<div class="items-total-price">
							<p>Total: <%= totalWithShipping.toFixed(2) %>€</p>
						</div>
					</div>
				</div>
				
				
			<% } else { %>
				<h3>Your search is empty</h3>
			<% } %>
		</div>


	<script type="text/javascript" src="/search.js"></script>
</body>


<%- include('./partials/footer.ejs') %>